<!DOCTYPE html>
<html lang="en">

<head>
    <title>Food Truck</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('components/topNav') %>
    <main>
        <p>Name: <%= truckData.truckname %></p>
        <p>Address: <%= truckData.address %></p>
        <p>Phone Number: <%= truckData.phonenumber %></p>
        <p>Description: <%= truckData.description %></p>
        
        <h2>Opening Hours</h2>
        <table>
            <thead>
                <tr>
                    <th>Day of Week</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% openingHours.forEach(hour => { %>
                    <tr>
                        <td><%= hour.dayofweek %></td>
                        <td><%= hour.isclosed ? 'N/A' : hour.starttime.slice(0, 5) %></td>
                        <td><%= hour.isclosed ? 'N/A' : hour.endtime.slice(0, 5) %></td>
                        <td><%= hour.isclosed ? 'Closed' : 'Open' %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <li><a href="/truck/<%= truckData.truckid %>/menu">View Menu</a></li>
    </main>
    <script src="foodTruck.js"></script>
</body>

</html>
