<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include('components/topNav') %>
        <main>
        <p>Name: <%= truckData.truckname %></p>
        <p>Address: <%= truckData.address %></p>
        <p>Phone Number: <%= truckData.phonenumber %></p>
        <p>Description: <%= truckData.description %></p>

        <li><a href="/truck/<%= truckData.truckid %>/menu">View Menu</a></li>
        </main>
        <script src="foodTruck.js"></script>
</body>

</html>